html,
body {
    width: 100%;
    height: 150%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

button {
    outline: none;
    border: none;
}

.guidance {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    color: white;
}

.guidance.turn-out {
    opacity: 0;
}

.guidance__box {
    display: inline-block;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 400px;
    font-size: 50px;
}

.guidance__btn,
.guidance__btn2 {
    font-size: 25px;
    margin-top: 25px;
    width: 250px;
    height: 80px;
    border-radius: 10px;
    border: 3px solid rgb(248, 198, 16);
}

.guidance__btn:hover {
    background-color: rgb(234, 77, 194);
    cursor: pointer;
}

.guidance__btn2:hover {
    background-color: rgb(234, 77, 194);
    cursor: pointer;
}

.whole__screen {
    background: center/cover no-repeat url("photos/backgroundimage.png");
    height: 100%;
    width: 100%;
    text-align: center;
}

.control__box {
    display: none;
    width: 300px;
    height: 300px;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.control__box.show-up {
    display: block;
}

.button__box {
    display: flex;
    justify-content: space-around;
}

.play__btn {
    background-color: rgb(205, 255, 3);
    margin-bottom: 30px;
    width: 80px;
    height: 80px;
    font-size: 50px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}

.relocation__btn {
    background-color: rgb(205, 255, 3);
    width: 80px;
    height: 80px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 38px;
}

.toIntro__btn {
    background-color: rgb(205, 255, 3);
    width: 80px;
    width: 80px;
    height: 80px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 15px;
}

.relocation__btn:hover,
.play__btn:hover {
    background-color: rgb(249, 149, 166);
}

#Timer {
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
    width: 250px;
    height: 60px;
    border: 1px solid black;
    border-radius: 10px;
}

.counter {
    background-color: pink;
    display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    padding: 0;
    text-align: center;
    font-size: 40px;
    border-radius: 50%;
    border: 1px solid black;
    color: white;
}

.field {
    position: fixed;
    margin-top: 10px;
    top: 50%;
    width: 100%;
    height: 100%;
    display: none;
}

.field img {
    position: absolute;
}

.jesus {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
    body {
        margin: auto;
    }
    .guidance__box {
        width: 200px;
        font-size: 25px;
        top: 45%;
    }
    .guidance__btn,
    .guidance__btn2 {
        width: 150px;
        font-size: 15px;
    }
    .whole__screen {
        width: 100%;
    }
    .control__box,
    .control__box.show-up {
        width: 200px;
    }
    h2 {
        font-size: 29px;
    }
    p {
        width: 200px;
    }
    .timer {
        font-size: 10px;
    }
    #Timer {
        width: 150px;
        font-size: 18px;
    }
    .field {
        width: 100%;
        height: 50%;
    }
}